html {
    font-family: "Avenir Next", Helvetica, sans-serif;
    text-align: center;
}

body {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}

input {
    padding-top: 30px;
    width: 500px;
    height: 60px;
    font-size: 40px;
    border: 0;
}

input:focus {
    outline: none;
}

li {
    text-align: left;
    font-size: 40px;
    list-style: none;
    margin: 0;
}

footer {
    border-top: 2px solid black;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: white;
    text-align: center; /* Center the text in the footer */
}

.remove {
    padding-bottom: 5px;
}